@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Hometown Zoo Contact Info</h3>

<address>
    4512 Steilacoom Blvd SW<br />
    Lakewood, WA 98499<br />
    <abbr title="Phone">P:</abbr>
    253.223.3253
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>